"*":
  "atom-terminal": {}
  core:
    telemetryConsent: "no"
  editor:
    invisibles:
      cr: " "
      eol: " "
    preferredLineLength: 140
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "40e62b3e-6aba-4180-b274-77fa8c5df5fd"
  linter: {}
  react:
    enabledForAllJavascriptFiles: true
  "terminal-plus":
    core: {}
    style: {}
  welcome:
    showOnStartup: false
  whitespace: {}
".coffee.jsx.source":
  editor:
    preferredLineLength: 140
".js.jsx.source":
  editor:
    preferredLineLength: 140
